[submodule "extern/sfml"]
	path = extern/sfml
	url = https://github.com/SFML/SFML
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui
[submodule "extern/imgui-sfml"]
	path = extern/imgui-sfml
	url = https://github.com/SFML/imgui-sfml
[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest
